@import "tailwindcss";

:root {
  --primary: #0D0E9F;
  --secondary: #247DE1;
  --accent: #247DE1;
  --text: #3F3F3F;
  --background: #ffffff;
  
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--primary);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 28s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
